<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/typing_test.css' />
    <script>
		var word_list = <%- JSON.stringify(word_list) %>;
		var on_word = 0;
		var on_letter = 0;
		var check_space = false;
		var check_backspace_space = false;	// works reverse of check_space
		var pop_line = false;
		var line = 0;
	</script>
  </head>
  <body>
    <div id='title_div'>
    	<h1><%= title %></h1>
    	<p>Works only in full screen(don't minimize)</p>
    </div>
    <div id='display_para_div'>
    </div>
    <div id='user_input_div'>
    </div>
  </body>
  <script type='text/javascript' src='/javascripts/typing_test.js'></script>
</html>
